<!DOCTYPE html>
<html>
<body>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/home" method="post">
    <input type="text" placeholder="Album Title" name="title"/>
    <input type="text" placeholder="Artist" name="artist"/>
    <button type="submit">Submit</button>
</form>

<ol>
    {{#albums}}
    <li>{{title}} by {{artist}}</li>

        <form action="/delete" method="post">
            <input type="hidden" value="{{id}}" name="deleteID"/>
            <button type="submit">Delete</button>
        </form>
        <form action="/update-album/{{id}}" method="get">
            <input type="hidden" value="{{id}}" name="updateID">
            <button type="submit">Update</button>
        </form>
    </li>
    {{/albums}}
</ol>
</body>
</html>